Repository cisagov/ScubaGear, pull requests merged in 2023-11, with the labels that each got.

#625 Bump ScubaGear versions for upcoming release
  PowerShell/ScubaGear/Modules/Orchestrator.psm1
  PowerShell/ScubaGear/ScubaGear.psd1
  README.md
Labels: version bump

#621 Update defender baseline to include missing license requirement for section 1
  baselines/defender.md
Labels: baseline-document

#624 Update Service Principal documentation in the README
  PowerShell/ScubaGear/Modules/Connection/Connection.psm1
  README.md
Labels: documentation

#646 Remove emerald branch from OPA test action
  .github/workflows/run_opa_tests.yaml
Labels: Testing

#651 Fix versioned tag in URLs
  PowerShell/ScubaGear/Modules/CreateReport/CreateReport.psm1
  Rego/Utils/ReportUtils.rego
Labels: bug

#657 Prevents DS_Store files from getting into the repo
  .gitignore
Labels: enhancement

#658 Updated step name
  .github/workflows/run_psscriptanalyzer.yaml
Labels: enhancement

#667 Integrate review feedback into Teams baseline
  baselines/teams.md
Labels: baseline-document

#668 Integrate review feedback into Sharepoint baseline
  baselines/sharepoint.md
Labels: baseline-document

#670 Integrate review feedback into Exchange baseline
  baselines/exo.md
Labels: baseline-document

#684 Integrate review feedback into Power Platform baseline
  baselines/powerplatform.md
Labels: baseline-document

#655 Integrate review feedback into Defender baseline
  baselines/defender.md
  baselines/powerbi.md
Labels: baseline-document

#639 Update the ScubaGear README for accuracy and add a Table of Contents
  README.md
  images/appserviceprincipal-api-permssions.png
  images/pplatformmissinglicense.PNG
Labels: documentation, enhancement

#671 Integrate CISA review feedback into aad baseline
  baselines/aad.md
Labels: baseline-document

#685 Integrate review feedback into Power BI baseline
  baselines/powerbi.md
Labels: baseline-document

#688 Disable RPS deprecation banner
  PowerShell/ScubaGear/Modules/Connection/ConnectHelpers.psm1
  PowerShell/ScubaGear/RequiredVersions.ps1
Labels: bug

#690 Added criticality to Power BI Markdown
  baselines/powerbi.md
Labels: baseline-document

#640 Address Rego Linter (Regal) Rules
  .regal/config.yaml
  CONTENTSTYLEGUIDE.md
Labels: enhancement
