Repository cisagov/ScubaGear, pull requests merged in 2023-08, with the labels that each got.

#445 Implement MS.AAD.3.4v1 - Migration Authentication Method policy
  .github/workflows/run_powershell_tests.yaml
  .github/workflows/run_smoke_test.yaml
  PowerShell/ScubaGear/Modules/Providers/ExportAADProvider.psm1
  Rego/AADConfig.rego
  Testing/Unit/Rego/AAD/AADConfig_03_test.rego
Labels: enhancement

#459 Update Defender format and rationales
  baselines/defender.md
Labels: enhancement, baseline-document

#421 formal internal review of AAD baseline
  baselines/aad.md
Labels: baseline-document, code-review

#464 Formal internal review of Exchange Online baseline
  baselines/exo.md
Labels: baseline-document, code-review

#456 Formal internal review of Power Platform baseline
  baselines/powerplatform.md
Labels: baseline-document, code-review

#453 Implement MS.AAD.7.2v1 Policy to check Secure Score
  .github/workflows/run_markdown_check.yaml
  PowerShell/ScubaGear/Modules/Providers/ExportAADProvider.psm1
  PowerShell/ScubaGear/RequiredVersions.ps1
  Rego/AADConfig.rego
  Testing/Unit/PowerShell/CreateReport/CreateReportStubs/TestResults.json
  Testing/Unit/Rego/AAD/AADConfig_07_test.rego
  Testing/Unit/Rego/Teams/TeamsConfig_07_test.rego
  baselines/aad.md
  sample-config-files/aad-config.yaml
  utils/UninstallModules.ps1
Labels: enhancement

#462 Formal internal review of Teams baseline
  baselines/teams.md
Labels: baseline-document, code-review

#475 Update front matter, acknowledgements and criticality for EXO
  baselines/exo.md
Labels: baseline-document

#481 Update front matter, acknowledgements and criticality for Defender
  baselines/defender.md
Labels: baseline-document

#473 AAD Exemption Instruction Updates
  README.md
Labels: documentation

#496 Update powershell unit test
  Testing/Unit/PowerShell/CreateReport/CreateReportStubs/ProviderSettingsExport.json
  Testing/Unit/PowerShell/CreateReport/CreateReportStubs/TestResults.json
  Testing/Unit/PowerShell/CreateReport/Import-SecureBaseline.Tests.ps1
  Testing/Unit/PowerShell/CreateReport/New-Report.Tests.ps1
Labels: bug

#497 Update front matter, acknowledgements, criticality, and links to Defender for Teams Baseline
  baselines/teams.md
Labels: baseline-document

#441 Update MS.AAD.3.2v1 & MS.AAD.3.6v1 to Check Authentication Strength for Phishing Resistance MFA
  Rego/AADConfig.rego
  Testing/Unit/Rego/AAD/AADConfig_03_test.rego
Labels: enhancement

#472 Update front matter, acknowledgements and criticality for AAD
  baselines/aad.md
Labels: baseline-document

#444 formal internal review of Sharepoint / OneDrive baseline
  baselines/sharepoint.md
Labels: baseline-document, code-review

#493 Invert Stance on Defender Preset policies
  PowerShell/ScubaGear/Modules/Providers/ExportDefenderProvider.psm1
  Rego/DefenderConfig.rego
  Testing/Unit/Rego/Defender/DefenderConfig_01_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_02_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_03_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_04_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_05_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_06_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_07_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_08_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_09_test.rego
  Testing/Unit/Rego/Defender/DefenderConfig_10_test.rego
Labels: bug, enhancement
