Repository cisagov/ScubaGear, pull requests merged in 2023-06, with the labels that each got.

#338 Support non-NA regions when running Power Platform
  PowerShell/ScubaGear/Modules/Providers/ExportPowerPlatformProvider.psm1
  Testing/Unit/PowerShell/Providers/PowerPlatformProvider/Export-PowerPlatformProvider.Tests.ps1
Labels: bug

#355 Invert Stance on Defender Preset Policies in Markdown
  baselines/defender.md
Labels: enhancement, baseline-document

#367 Bug fix for Markdown Check action
  .github/workflows/run_markdown_check.yaml
Labels: bug, Testing

#356 Enhanced smoke test - check for missing results
  PowerShell/ScubaGear/Modules/CreateReport/CreateReport.psm1
  Testing/Functional/SmokeTest/SmokeTest001.Tests.ps1
  Testing/Functional/SmokeTest/SmokeTest002.Tests.ps1
  Testing/Unit/PowerShell/CreateReport/Import-SecureBaseline.Tests.ps1
  Testing/Unit/PowerShell/CreateReport/New-Report.Tests.ps1
Labels: enhancement

#365 Updated Content Style Guide for Rego
  CONTENTSTYLEGUIDE.md
Labels: documentation

#370 One drive baseline
  baselines/onedrive.md
Labels: baseline-document

#379 Adjudicate Substantive AAD Baseline Comments
  baselines/aad.md
  images/aad-mfa.png
Labels: baseline-document

#402 Update DLP Custom Policy locations
  baselines/defender.md
Labels: baseline-document
