Repository cisagov/ScubaGear, pull requests merged in 2023-09, with the labels that each got.

#504 484 integrate aad techeditor feedback
  baselines/aad.md
Labels: baseline-document

#507 remove basic auth instructions
  AllowBasicAuthentication.ps1
  README.md
Labels: documentation

#513 Update M365 Audit Policy Language in baselines
  baselines/defender.md
  baselines/exo.md
Labels: baseline-document

#516 Integrate technical editor feedback into Defender baseline
  baselines/defender.md
Labels: baseline-document

#482 Revised PowerPlatform Rego Code to Match Revised Baseline
  PowerShell/ScubaGear/Modules/Providers/ExportPowerPlatformProvider.psm1
  Rego/PowerPlatformConfig.rego
  Testing/Unit/Rego/PowerPlatform/PowerPlatformConfig_01_test.rego
  Testing/Unit/Rego/PowerPlatform/PowerPlatformConfig_05.rego
Labels: code-review

#501 Integrate technical editor feedback into Exchange baseline
  baselines/exo.md
Labels: baseline-document

#530 HOTFIX: aad.md is malformed
  Testing/Unit/PowerShell/CreateReport/Import-SecureBaseline.Tests.ps1
  baselines/aad.md
Labels: bug, baseline-document

#455 Formal internal review of PowerBI baseline
  baselines/powerbi.md
Labels: baseline-document, code-review

#521 Update sharepoint.md with tech editor feedback
  baselines/sharepoint.md
Labels: baseline-document

#522 Update powerplatform.md with tech editor feedback
  baselines/powerplatform.md
Labels: baseline-document

#508 Defender 1.4 & Check for Sensitive Users, Groups, and Domains
  Rego/DefenderConfig.rego
  Rego/Utils/DefenderUtils.rego
  Testing/Unit/Rego/Defender/DefenderConfig_01_test.rego
  sample-config-files/defender-config.yaml
Labels: enhancement

#525 Integrate technical editor feedback into teams baseline
  baselines/teams.md
Labels: baseline-document

#545 Update MS.AAD.3.6v1 to check for Phishing Resistant MFA
  Rego/AADConfig.rego
  Testing/Unit/Rego/AAD/AADConfig_03_test.rego
Labels: bug

#514 Update to MS Graph PowerShell 2.0 for the Emerald branch
  .github/workflows/run_powershell_tests.yaml
  .github/workflows/run_smoke_test.yaml
  PSScriptAnalyzerSettings.psd1
  PowerShell/ScubaGear/Modules/Connection/Connection.psm1
  PowerShell/ScubaGear/Modules/Orchestrator.psm1
  PowerShell/ScubaGear/Modules/Providers/ExportAADProvider.psm1
  PowerShell/ScubaGear/Modules/Providers/ExportSharePointProvider.psm1
  PowerShell/ScubaGear/RaiseFunctionCap.ps1
  PowerShell/ScubaGear/RequiredVersions.ps1
  PowerShell/ScubaGear/ScubaGear.psd1
  README.md
  Rego/AADConfig.rego
  SetUp.ps1
  Testing/Functional/SmokeTest/SmokeTest001.Tests.ps1
  Testing/Functional/SmokeTest/SmokeTest002.Tests.ps1
  Testing/Functional/SmokeTest/UpdateSelenium.ps1
  Testing/Unit/PowerShell/Connection/Connect-Tenant.Tests.ps1
  Testing/Unit/PowerShell/CreateReport/CreateReportStubs/ProviderSettingsExport.json
  Testing/Unit/PowerShell/CreateReport/CreateReportStubs/TestResults.json
  Testing/Unit/PowerShell/Providers/AADProvider/Export-AADProvider.Tests.ps1
  Testing/Unit/PowerShell/Providers/AADProvider/Get-AADTenantDetail.Tests.ps1
  Testing/Unit/PowerShell/Providers/AADProvider/Get-PrivilegedRole.Tests.ps1
  Testing/Unit/PowerShell/Providers/AADProvider/Get-PrivilegedUser.Tests.ps1
  Testing/Unit/PowerShell/Providers/SharePointProvider/Export-SharePointProvider.Tests.ps1
  Testing/Unit/PowerShell/RunRego/RunRegoStubs/ProviderSettingsExport.json
  baselines/aad.md
  utils/UninstallModules.ps1
Labels: enhancement

#547 Defender 2.1 Check Config for Sensitive Users
  Rego/DefenderConfig.rego
  Rego/Utils/DefenderUtils.rego
  Testing/Unit/Rego/Defender/DefenderConfig_02_test.rego
  sample-config-files/defender-config.yaml
Labels: enhancement
