Repository cisagov/ScubaGear, pull requests merged in 2024-07, with the labels that each got.

#1172 Create workflow unit test pattern
  .github/workflows/run_pipeline.yaml
  .github/workflows/test_production_function.yaml
  .github/workflows/unit_test_workflows.yaml
  PowerShell/ScubaGear/Modules/Support/Support.psm1
  Testing/Functional/Products/SetupFunctionalProductTesting.md
  Testing/workflow/Initialize-ScubaGearForTesting.Tests.ps1
  Testing/workflow/Install-SeleniumForTesting.Tests.ps1
  utils/workflow/Initialize-ScubaGearForTesting.psm1
  utils/workflow/Install-SeleniumForTesting.psm1
Labels: enhancement, Testing

#1188 Fix the OPA version bump workflow to work with the new README
  .github/workflows/run_update_opa.yaml
Labels: bug

#1190 Add policy check for AAD 3.7 to support exclusions -- new
  PowerShell/ScubaGear/Rego/AADConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADConfig_03_test.rego
Labels: enhancement

#1197 Add unit testing and error handling to publish public package
  .github/workflows/publish_public_package.yaml
  PowerShell/ScubaGear/ScubaGear.psd1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Utils/DeployUtils.Tests.ps1
  Testing/workflow/DeployUtils.Tests.ps1
  utils/DeployUtils.ps1
Labels: enhancement

#1199 Correct bug with Connect-IPPSSession error handling
  PowerShell/ScubaGear/Modules/Providers/ExportDefenderProvider.psm1
Labels: bug

#1206 Add exceptions for GitLeaks false positives
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Providers/AADProvider/Export-Caps.Tests.ps1
Labels: enhancement

#1106 Add MITRE ATT&CK Mappings to current SCBs
  PowerShell/ScubaGear/baselines/aad.md
  PowerShell/ScubaGear/baselines/defender.md
  PowerShell/ScubaGear/baselines/exo.md
  PowerShell/ScubaGear/baselines/powerbi.md
  PowerShell/ScubaGear/baselines/powerplatform.md
  PowerShell/ScubaGear/baselines/sharepoint.md
  PowerShell/ScubaGear/baselines/teams.md
Labels: baseline-document

#1201 Refactor SharePoint Unit test to pull from central Jsons
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointBaseConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointConfig_01_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointConfig_02_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointConfig_03_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointConfig_04_test.rego
Labels: enhancement, Testing

#1122 Extend Microsoft.Graph.* dependency max version from 2.19.x -> 2.x.x
  PowerShell/ScubaGear/RequiredVersions.ps1
Labels: bug

#1198 Fix circular reference between MS.EXO.16.1v1 and MS.DEFENDER.5.1v1 implementation instructions
  PowerShell/ScubaGear/baselines/defender.md
Labels: enhancement, baseline-document

#1200 Allow policies to be omitted from ScubaGear
  PowerShell/ScubaGear/Modules/CreateReport/CreateReport.psm1
  PowerShell/ScubaGear/Modules/CreateReport/scripts/main.js
  PowerShell/ScubaGear/Modules/CreateReport/styles/ParentReportStyle.css
  PowerShell/ScubaGear/Modules/Orchestrator.psm1
  PowerShell/ScubaGear/Modules/ScubaConfig/ScubaConfig.psm1
  PowerShell/ScubaGear/Modules/Support/Support.psm1
  PowerShell/ScubaGear/Sample-Config-Files/omit_policies.yaml
  PowerShell/ScubaGear/Testing/Unit/PowerShell/CreateReport/Get-OmissionState.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/ScubaConfig/ScubaConfigLoadConfig.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Support/New-Config.Tests.ps1
  docs/configuration/configuration.md
Labels: enhancement

#1202 Refactor PowerPlatform Unit test to pull from central Jsons
  PowerShell/ScubaGear/Testing/Unit/Rego/PowerPlatform/PowerPlatformBaseConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/PowerPlatform/PowerPlatformConfig_01_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/PowerPlatform/PowerPlatformConfig_02_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/PowerPlatform/PowerPlatformConfig_03_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/PowerPlatform/PowerPlatformConfig_05_test.rego
Labels: enhancement, Testing

#1219 Teams baseline updates for policies #2.2 and #3.1 to add notes
  PowerShell/ScubaGear/baselines/teams.md
Labels: baseline-document

#1215 Remove duplicated policy EXO.14.4v1
  PowerShell/ScubaGear/baselines/exo.md
Labels: bug, baseline-document

#1176 Update Azure Active Directoy, Azure AD, and AAD baseline references to Microsoft Entra ID equivalent
  PowerShell/ScubaGear/baselines/aad.md
  PowerShell/ScubaGear/baselines/defender.md
  PowerShell/ScubaGear/baselines/powerbi.md
  PowerShell/ScubaGear/baselines/powerplatform.md
  PowerShell/ScubaGear/baselines/teams.md
  images/aad-mfa.png
Labels: baseline-document

#1212 Refactor generic cmdlets to ScubaGear-specific cmdlets
  PowerShell/ScubaGear/Modules/Orchestrator.psm1
  PowerShell/ScubaGear/Modules/Support/Support.psm1
  PowerShell/ScubaGear/ScubaGear.psd1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Orchestrator/Invoke-ScubaCached.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Support/Copy-ScubaBaselineDocument.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Support/Copy-ScubaSampleConfigFile.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Support/Copy-ScubaSampleReport.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Support/New-SCuBAConfig.Tests.ps1
  Testing/Functional/Products/Products.Tests.ps1
  Testing/Functional/SmokeTest/SmokeTest001.Tests.ps1
  docs/configuration/configuration.md
  docs/prerequisites/dependencies.md
Labels: enhancement

#1211 Refactor Teams Unit test to pull from central Jsons
  PowerShell/ScubaGear/Testing/Unit/Rego/Teams/TeamsBaseConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Teams/TeamsConfig_01_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Teams/TeamsConfig_02_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Teams/TeamsConfig_03_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Teams/TeamsConfig_04_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Teams/TeamsConfig_05_test.rego
Labels: enhancement, Testing

#1185 Modify MS.AAD.6.1 to account for federated domains
  PowerShell/ScubaGear/Rego/AADConfig.rego
  PowerShell/ScubaGear/Rego/Utils/AAD.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADBaseConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADConfig_06_test.rego
  Testing/Functional/Products/TestPlans/aad.testplan.yaml
Labels: bug

#1240 Fixed Cached Functional Tests
  Testing/Functional/Products/Products.Tests.ps1
  Testing/Functional/Products/TestPlans/aad.g5.testplan.yaml
  Testing/Functional/Products/TestPlans/aad.testplan.yaml
  Testing/Functional/Products/TestPlans/defender.testplan.yaml
  Testing/Functional/Products/TestPlans/exo.testplan.yaml
  Testing/Functional/Products/TestPlans/powerplatform.testplan.yaml
Labels: bug, Testing

#1244 Remove MS.SHAREPOINT.4.1v1 policy and references (baseline and code)
  PowerShell/ScubaGear/Rego/SharepointConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointConfig_04_test.rego
  PowerShell/ScubaGear/baselines/removedpolicies.md
  PowerShell/ScubaGear/baselines/sharepoint.md
  Testing/Functional/Products/TestPlans/sharepoint.pnp.testplan.yaml
  Testing/Functional/Products/TestPlans/sharepoint.spo.testplan.yaml
Labels: bug, baseline-document

#1243 Rectify AAD functional test failures and improved naming of some AAD Rego rulesets
  PowerShell/ScubaGear/Rego/AADConfig.rego
  PowerShell/ScubaGear/Rego/Utils/AAD.rego
  Testing/Functional/Products/TestPlans/aad.testplan.yaml
Labels: bug, enhancement
