Repository cisagov/ScubaGear, pull requests merged in 2025-03, with the labels that each got.

#1538 Test the output of ScubaGear's basic commands
  .github/workflows/publish_private_package.yaml
  PowerShell/ScubaGear/Modules/Support/Support.psm1
  Testing/workflow/Initialize-ScubaGearForTesting.Tests.ps1
  utils/workflow/Initialize-ScubaGearForTesting.ps1
  utils/workflow/Publish-ScubaGear.ps1
Labels: enhancement, Testing

#1562 Convert issue templates in markdown to GitHub's issue forms
  .github/ISSUE_TEMPLATE/1-newidea.yaml
  .github/ISSUE_TEMPLATE/2-bugreport.yaml
  .github/ISSUE_TEMPLATE/config.yaml
Labels: enhancement

#1577 Make sure that the Selenium server is ready
  Testing/Functional/Products/Products.Tests.ps1
Labels: enhancement, Testing

#1601 MS.TEAMS.5.xv1 - update warning message to reflect the correct reason for the policy fail (public reported issue)
  PowerShell/ScubaGear/Rego/TeamsConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Teams/TeamsConfig_05_test.rego
Labels: bug

#1580 Move smoke tests into a function
  .github/workflows/run_smoke_test.yaml
  Testing/Functional/SmokeTest/SmokeTestUtils.ps1
  utils/workflow/Invoke-SmokeTests.ps1
Labels: enhancement, Testing

#1608 Add note to MS.POWERPLATFORM.4.1v1 to highlight dataverse dependency
  PowerShell/ScubaGear/baselines/powerplatform.md
Labels: baseline-document

#1597 Permissions File integration
  PowerShell/ScubaGear/Modules/Connection/Connection.psm1
  PowerShell/ScubaGear/Modules/Permissions/PermissionsHelper.psm1
  PowerShell/ScubaGear/Modules/Permissions/ScubaGearPermissions.json
  PowerShell/ScubaGear/Modules/Providers/ExportAADProvider.psm1
  PowerShell/ScubaGear/ScubaGear.psd1
  PowerShell/ScubaGear/ScubaGear.psm1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Connection/Connect-Tenant.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Permissions/PermissionsHelper.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Providers/AADProvider/Invoke-GraphDirectly.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Providers/AADProvider/Invoke-GraphDirectly.ps1
  docs/prerequisites/interactive.md
  docs/prerequisites/noninteractive.md
Labels: enhancement

#1588 Update MS.AAD.3.3v1 to decouple the policy from MS.AAD.3.1v1 and match the updated rego checks
  PowerShell/ScubaGear/Modules/Support/Support.psm1
  PowerShell/ScubaGear/Rego/AADConfig.rego
  PowerShell/ScubaGear/Sample-Config-Files/scuba_compliance.yaml
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/AADReport.html
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/AADReport.json
  PowerShell/ScubaGear/Sample-Reports/ScubaResults_550fbc57-f602-4b40.json
  PowerShell/ScubaGear/Testing/Unit/PowerShell/CreateReport/CreateReportStubs/TestResults.json
  PowerShell/ScubaGear/Testing/Unit/PowerShell/CreateReport/CreateReportStubs/aad.md
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADConfig_03_test.rego
  PowerShell/ScubaGear/baselines/aad.md
  Testing/Functional/Products/TestPlans/aad.testplan.yaml
Labels: baseline-document

#1616 Update SharePoint policies with improved language
  PowerShell/ScubaGear/Rego/SharepointConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointConfig_01_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointConfig_03_test.rego
  PowerShell/ScubaGear/baselines/sharepoint.md
Labels: baseline-document

#1611 Update audit logging policy language to better reflect ScubaGear check
  PowerShell/ScubaGear/baselines/defender.md
  PowerShell/ScubaGear/baselines/exo.md
Labels: baseline-document

#1593 Remove references to MS.SHAREPOINT.1.4v1 across the repo
  PowerShell/ScubaGear/Rego/SharepointConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/Sharepoint/SharepointConfig_01_test.rego
  PowerShell/ScubaGear/baselines/removedpolicies.md
  PowerShell/ScubaGear/baselines/sharepoint.md
  Testing/Functional/Products/TestPlans/sharepoint.pnp.testplan.yaml
  Testing/Functional/Products/TestPlans/sharepoint.spo.testplan.yaml
Labels: baseline-document, code-review
