Repository cisagov/ScubaGear, pull requests merged in 2025-04, with the labels that each got.

#1596 Move code for publish private package into functions and test
  .github/workflows/publish_private_package.yaml
  .github/workflows/publish_public_package.yaml
  Testing/workflow/Publish-ScubaGear.Tests.ps1
  utils/workflow/Build-SignRelease.ps1
  utils/workflow/Publish-ScubaGear.ps1
Labels: enhancement, Testing

#1627 Create new Entra Id policy 3.9 block device code authentication
  PowerShell/ScubaGear/Modules/Support/Support.psm1
  PowerShell/ScubaGear/Rego/AADConfig.rego
  PowerShell/ScubaGear/Rego/Utils/KeyFunctions.rego
  PowerShell/ScubaGear/Sample-Config-Files/aad_config.yaml
  PowerShell/ScubaGear/Testing/Unit/PowerShell/CreateReport/CreateReportStubs/TestResults.json
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADBaseConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADConfig_03_test.rego
  PowerShell/ScubaGear/baselines/aad.md
  Testing/Functional/Products/TestPlans/aad.testplan.yaml
Labels: enhancement, baseline-document

#1650 Add unit tests for update OPA version if necessary
  .github/workflows/run_update_opa.yaml
  PowerShell/ScubaGear/Modules/ScubaConfig/ScubaConfig.psm1
  Testing/workflow/Update-Opa.Tests.ps1
  utils/workflow/Update-Opa.ps1
Labels: enhancement, Testing

#1604 Save omitted rego evaulation results
  PowerShell/ScubaGear/Modules/CreateReport/CreateReport.psm1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/CreateReport/Get-RegoResult.Tests.ps1
Labels: enhancement

#1615 Tune MS.EXO.1.1 to allow for exceptional cases
  PowerShell/ScubaGear/Modules/Providers/ExportEXOProvider.psm1
  PowerShell/ScubaGear/Rego/EXOConfig.rego
  PowerShell/ScubaGear/Sample-Config-Files/exo_config.yaml
  PowerShell/ScubaGear/Sample-Config-Files/scuba_compliance.yaml
  PowerShell/ScubaGear/Testing/Unit/PowerShell/CreateReport/CreateReportStubs/TestResults.json
  PowerShell/ScubaGear/Testing/Unit/PowerShell/CreateReport/Get-OmissionState.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/ScubaConfig/ScubaConfigLoadConfig.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/Rego/EXO/EXOBaseConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/EXO/EXOConfig_01_test.rego
  PowerShell/ScubaGear/baselines/exo.md
  Testing/Functional/Products/TestPlans/exo.testplan.yaml
  docs/configuration/configuration.md
Labels: enhancement, baseline-document

#1659 Bump OPA version from v1.1.0 to v1.2.0
  PowerShell/ScubaGear/Modules/ScubaConfig/ScubaConfig.psm1
  PowerShell/ScubaGear/Modules/Support/Support.psm1
Labels: version bump

#1618 Add unit tests for extract email
  .github/actions/extract-email/action.yaml
  .github/workflows/run_pipeline.yaml
  .github/workflows/run_workflow_pipeline.yaml
  .github/workflows/unit_test_workflows.yaml
  Testing/action/Get-Email.Tests.ps1
  utils/action/Get-Email.ps1
  utils/workflow/Invoke-PesterTests.ps1
Labels: enhancement, Testing

#1666 Fix Defender functional test errors
  Testing/Functional/Products/TestPlans/defender.g5.testplan.yaml
  Testing/Functional/Products/TestPlans/defender.testplan.yaml
Labels: bug, Testing

#1655 Functional Test Improvements
  Testing/Functional/Products/FunctionalTestUtils.ps1
  Testing/Functional/Products/Products.Tests.ps1
  Testing/Functional/Products/TestPlans/aad.g3.testplan.yaml
  Testing/Functional/Products/TestPlans/aad.testplan.yaml
  Testing/Functional/Products/TestPlans/defender.testplan.yaml
  Testing/Functional/Products/TestPlans/powerplatform.testplan.yaml
  Testing/Functional/Products/TestPlans/sharepoint.pnp.testplan.yaml
Labels: enhancement

#1673 Update sample reports for v1.6.0
  PowerShell/ScubaGear/Sample-Reports/ActionPlan.csv
  PowerShell/ScubaGear/Sample-Reports/BaselineReports.html
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/AADReport.html
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/AADReport.json
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/DefenderReport.html
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/DefenderReport.json
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/EXOReport.html
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/EXOReport.json
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/PowerPlatformReport.html
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/PowerPlatformReport.json
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/SharePointReport.html
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/SharePointReport.json
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/TeamsReport.html
  PowerShell/ScubaGear/Sample-Reports/IndividualReports/TeamsReport.json
  PowerShell/ScubaGear/Sample-Reports/ProviderSettingsExport.json
  PowerShell/ScubaGear/Sample-Reports/ScubaResults.csv
  PowerShell/ScubaGear/Sample-Reports/ScubaResults_16f61e39-398d-48d0.json
  PowerShell/ScubaGear/Sample-Reports/TestResults.json
Labels: documentation

#1678 Remove test tenant 3 from functional testing workflows
  .github/workflows/function_test_defender.yaml
  .github/workflows/function_test_entra.yaml
  .github/workflows/function_test_exchange.yaml
  .github/workflows/function_test_powerplatform.yaml
  .github/workflows/function_test_sharepoint.yaml
  .github/workflows/function_test_teams.yaml
Labels: Testing

#1660 Convert certain EntraID checks to Graph API calls
  PowerShell/ScubaGear/Modules/Permissions/PermissionsHelper.psm1
  PowerShell/ScubaGear/Modules/Permissions/ScubaGearPermissions.json
  PowerShell/ScubaGear/Modules/Providers/ExportAADProvider.psm1
  PowerShell/ScubaGear/Modules/Providers/ProviderHelpers/CommandTracker.psm1
  PowerShell/ScubaGear/Modules/Utility/Utility.psm1
  PowerShell/ScubaGear/Rego/AADConfig.rego
  PowerShell/ScubaGear/RequiredVersions.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Providers/AADProvider/Invoke-GraphDirectly.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/PowerShell/Providers/AADProvider/LoadObjectDataIntoPrivilegedUserHashtable.Tests.ps1
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADBaseConfig.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADConfig_03_test.rego
  PowerShell/ScubaGear/Testing/Unit/Rego/AAD/AADConfig_07_test.rego
  utils/UninstallModules.ps1
Labels: enhancement
